*,div,pre,textarea,body,input,td,tr,p {
     background-color: #55688A !important;
     color: #EEEEEE !important;
 }
 h1,h2,h3,h4 {
     background-color: #55688A !important;
     color: #EEEEEE !important;
 }

