/* Apply the filter directly on the body tag */
body.dark-theme img {
  filter: brightness(.8) contrast(1.2) !important;
}
 
/* Or apply it via media query */
@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(.8) contrast(1.2) !important;
  }
}
body.dark-theme svg.icon path {
  fill: #efefef !important;
}
/* Font icon (using Font Awesome as an example) */
body.dark-theme .fa {
  color: #efefef !important;
}
*,div,pre,textarea,body,input,td,tr,p {
     background-color: #2F2F2F !important;
     background-image: none !important;
     color: #FFFFFF !important;
 }
 h1,h2,h3,h4 {
     background-color: #2F2F2F !important;
     color: #FFFFFF !important;
 }
