.ui.accordion, .ui.accordion .accordion {
	background: #292B2C !important;
	color: #FFFFFF !important;
}
.ts-left-rail-tree ul {
	background: #3B4252 !important;
	color: #FFFFFF !important;
}
.message-list-common {
	background: #CCCCCC !important;
	color:##D9A274 !important;
}
.app-small-font.single-line-truncation { 
	color: #2D94A8 !important;
}
.chat-list .cle-title {
	color: #D9A274 !important;
}
